.container{
    border: 2px ;
    margin-left: center;
    width: 1200px;
    text-align: center;
    height: auto;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
body {
    background: rgb(168,144,254);
    background: linear-gradient(39deg, rgba(168,144,254,1) 14%, rgba(234,141,141,1) 92%);
}
.navbar{
    background-color: dimgray;
}
.navbar{
    background: rgb(96,75,80);
    background: linear-gradient(177deg, rgba(96,75,80,1) 14%, rgba(196,183,200,1) 92%);
    width: 100%;
 }
#tbl_gestiones {
    color: black;
}
*{
    color: black;
}
